
importFrom("grDevices",
           "contourLines", "dev.control", "dev.cur",
           "dev.list", "dev.new", "dev.off", "dev.set", "palette",
           "pdf", "png", "recordPlot", "replayPlot")
importFrom("graphics",
           "axTicks", "par", "plot.new")
import("grid")

export("grid.echo")

# For test code in ./tests/
export("plotdiffInit")
export("plotdiff")
export("plotdiffResult")

S3method("grid.echo", "default")
S3method("grid.echo", "recordedplot")
S3method("grid.echo", "function")
